* {
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(233, 233, 233);
}

#form {
	width: 100%;
	max-width: 700px;
	padding: 50px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
}

input {
	max-width: 100%;
	display: inline;
	padding: 3px;
	margin-bottom: 10px;
	border: 1px solid #111;
	border-radius: 5px;
}

p {
	line-height: 2;
}

.copyBtn-space {
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
}

#copyBtn {
	width: max-content;
	padding: 8px 16px;
	background-color: rgb(165, 72, 229);
	color:rgb(255, 255, 255);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s ease;
}

#copyBtn:hover {
	background-color: rgb(150, 65, 206);
}

#hiddenTextarea {
	width: 0;
	height: 0;
	resize: none;
	position: absolute;
	top: -100px;
	left: 0;
}